version: '3.8'
services:
  app:
    build:
      context: .
    image: gestion-agricola-app
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"
      - "9000:9000"
    depends_on:
      - db
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=gestion_agricola
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret

  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_agricola
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

volumes:
  db_data:

